{%  load static %}



 <!DOCTYPE html>
<html>
<head>
    <title>Add Purchase</title>
</head>

<body>
</head>
<body>
 


<form method="post" id="addToCartForm">
    <h1>Add Purchase</h1>
    {% csrf_token %}
    {{ form.as_p }}
   
    <div  class="back-btn">
     <button  onclick="location.href='{% url 'purchase' %}'"> Back
     </button>
      <button type="submit" name="action" value="add_to_cart">Add to Cart</button>
      <button onclick="location.href='{% url 'view_cart' %}'">View Cart</button>

    </div>
    
   
</form>
<div class="alert-box" id="popupMessage">
    <p>  {{ error_message }} </p>
</div> 
<div>
 </div>


<div id="totalAmountDisplay">
    {% if total_price %}
        <p>Total Price: {{ total_price }}</p>
        {% comment %} <script>
            setTimeout(function() {
                window.location.href = "{% url 'purchase' %}";
            }, 2000); // Redirect after 3 seconds (adjust the delay as needed)
        </script> {% endcomment %}
    {% endif %}
</div>
<script>
    const quantityInput = document.getElementById('id_purchased_quantity');
    const itemSelect = document.getElementById('id_item'); // Assuming the HTML id for the item select field is "id_item"
    const totalAmountDisplay = document.getElementById('totalAmountDisplay');

    function calculateTotalAmount() {
        const quantity = parseInt(quantityInput.value);
        const itemPrice = parseFloat(itemSelect.options[itemSelect.selectedIndex].getAttribute('data-price'));
        const totalAmount = isNaN(quantity) || isNaN(itemPrice) ? '' : (quantity * itemPrice).toFixed(2);
        totalAmountDisplay.innerHTML = totalAmount ? `<p>Total Price: ${totalAmount}</p>` : '';

    if (parseInt(quantity) <= 0 || parseFloat(lastPurchaseAmount) <= 0) {
        document.getElementById('error-message').innerText = 'Invalid quantity or last purchase amount.';
        document.getElementById('error-message').style.display = 'block';
    } else {
        document.getElementById('error-message').innerText = '';
        document.getElementById('error-message').style.display = 'none';

    }
}
function showAlert() {
    var popup = document.getElementById("popupMessage");
    popup.style.display = "block";
    var duration = 3000; // 5 seconds (adjust this value as needed)

    setTimeout(function() {
        popup.style.display = "none";
    }, duration);
}
window.onload = function() {
    var error_message = "{{ error_message }}";
    if (error_message) {
        showAlert();
    }
};
</script>

 
</body>
</html> 

 
<style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            background-color: #f1f1f1;
            padding: 20px;
            background-color: #E87461;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #FE910A;
        }

        form {
            width: 350px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #E0C879;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        input#id_purchase_date, 
        input#id_last_purchase_amount, 
        input#id_purchased_quantity {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }         
        
        
        select {
            padding: 8px;
            font-size: 16px; 
            border: 1px solid #ccc; 
            border-radius: 4px; 
            width: 100%; 
            box-sizing: border-box; 
        }
       
          
        input#id_purchase_date {
            width: 320px; 
        }

        form{
            max-width:322px;
            margin-bottom:100px;
        }

        input#id_last_purchase_amount {
            width: 311px;
        }

        input#id_purchased_quantity {
            width: 310px;
        }

        .alert-box {
            display: none;
            position: fixed;
            top: 50%; /* Center the box vertically */
            left: 50%; /* Center the box horizontally */
            transform: translate(-50%, -50%);
            background-color: #f44336;
            color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        .back-btn {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .back-btn button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 80px;
        }

        
        .back-btn button:hover {
          background-color: #45a049;  
        }
        

</style>

</html> 

