{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>

<body>

    <form method="post" action="{% url 'add_student' %}">
        {% csrf_token %}
        <h1>Add Student</h1>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="grade">Grade:</label>
        <input type="text" id="grade" name="grade" required>

        <label for="mail">Mail:</label>
        <input type="email" id="mail" name="mail" required>

        <label for="limit">Limit:</label>
        <input type="number" id="limit" name="limit" required>

        <div  class="back-btn">
         <button onclick="location.href='{% url 'student' %}'">Back</button>
          <input type="submit" value="Add Student">
        </div>
    </form>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #E87461;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #FE910A;
        }

        form {
            width: 350px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #E0C879;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .back-btn {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .back-btn button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 80px;
        }

        
        .back-btn button:hover {
          background-color: #45a049;  
        }
        
    </style>
</body>
</html>
