<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div id="myChartContainer">
    
    <div  class="back-btn">
           <button  onclick="location.href='{% url 'home' %}'">
             <span class="material-symbols-outlined"> home </span>
           </button>
         </div>

        <h1>Purchased Items Chart</h1>
        <canvas id="myChart"></canvas>
    </div>
    
    <div >
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var itemNames = {{ item_names|safe }};
        var quantities = {{ quantities|safe }};

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: itemNames,
                datasets: [{
                    label: 'Quantity',
                    data: quantities,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        
    </script>
   <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />4 
</body>
</html>

<style>
    body {
        background-color: #BABBF1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 74vh;

    }
    
    #myChartContainer {
        display: block;
        width: 100%;
        background-color: #BABBF1;
        max-width: 600px;
        text-align: center;
        align:center;
    }

    h1 {
        margin-bottom: 20px;
    }
    .back-btn button {
        display: flex;
        padding: 10px 14px;
        background-color: #8AC5C5;
        color: black;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .add-stock button:hover, 
    .back-btn button:hover {
        background-color: #85B9CC;
    }
</style>
