{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tuck Shop</title>
</head>
<body>
    <div class="container">
        <h1>Tuck Shop</h1>

        <div class="icon">
            <a href="{% url 'student' %}">
                <img src="{% static 'images/customer.png' %}" alt="Students">
                <p>Students</p>
            </a>
        </div>

        <div class="icon">
            <a href="{% url 'purchase' %}">
                <img src="{% static 'images/payment.png' %}" alt="Purchase">
                <p>Purchase</p>
            </a>
        </div>

        <div class="icon">
            <a href="{% url 'inventory' %}">
                <img src="{% static 'images/delivery-box.png' %}" alt="Inventory">
                <p>Inventory</p>
            </a>
        </div>
        <div>

            <a class = "items-graph-btn" href="{% url 'graph' %}"><button>
            View Purchased Items Graph</button></a>
            <a class = "students-graph-btn" href="{% url 'student_graph' %}"><button>Students Graph</button></a>

        </div>
    
    </div>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85vh;
            font-family: Arial, sans-serif;
            background-color: #BABBF1;
        }

        .container {
        text-align: center;
        }

        h1 {
            margin-bottom: 85px;
            color: #232ED1;
        }

        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            height: 200px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom:20px;
            padding: 20px;
            border-radius: 10px;
            background-color: #8AC5C5;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            float: left;
        }

        .icon:hover {
            transform: translateY(-5px);
        }

        .icon a {
            text-decoration: none;
            color: #232ED1;
            text-align: center;
        }

        .icon img {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }

        .icon p {
            margin: 0;
            font-weight: bold;
        }

        .items-graph-btn button, 
        .students-graph-btn button{
            background-color: #ffaff0;
            color: #232ED1;
            padding:;
            border: none;
            border-radius: 4px;
        }

    </style>
</body>
</html>
