{% load static %}


<!DOCTYPE html>
<html>
<head>

   <title>Inventory Details</title>

</head>
<body>
    <div class="header">
      <div class="back-btn">
        <button  onclick="location.href='{% url 'home' %}'">
          <span class="material-symbols-outlined"> home </span>
        </button>
      </div>

    <h1>Inventory </h1>
     
    <div  class="add-stock">
        <button onclick="location.href='{% url 'add_inventory' %}'"> 
         <span class="material-symbols-outlined"> add_business </span>  
        </button>
    </div>

    </div>
    
  <form method="get" class="search-form">
    <input type="text" name="search_query" placeholder="search...">
    <button type="submit">
    <span class="material-symbols-outlined"> search </span>
    </button>
  </form>


    <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Last Restock</th>
                <th>Quantity</th>
                <th>Availability</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.last_restock }}</td>
                <td>{{ item.quantity }}</td>
                <td>   
                    {% if item.availability %}
                    <span class="tick-icon">&#10004;</span> {# Tick icon (✓) for available items (availability is True) #}
                    {% else %}
                    <span class="cross-icon">&#10006;</span> {# Cross icon (✗) for unavailable items (availability is False) #}
                    {% endif %}
                </td>

                <td class="edit-btn"> <a href="{% url 'update_inventory'  id=item.id %}">
                  <button>
                 <span class="material-symbols-outlined"> edit </span>
                </button>
                </a></td>
 
                <td class="delete-item-btn"> <a href="{% url 'delete_inventory'  id=item.id %}">
                 <button>
                  <span class="material-symbols-outlined"> delete 
                  </span>
                 </button>
                </a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #BABBF1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 74vh;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            max-width: 800px;
            margin-bottom: 20px;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        table {
            width: 80%;
            max-width: 800px;
            border-collapse: collapse;
        }
        
        th,td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            border-radius: 4px;
        }
        
        th {
            background-color: #7592DE;
        }
        
        .add-stock button {
            padding: 10px 14px;
            background-color: #8AC5C5;
            color: black;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .back-btn button {
            padding: 10px 14px;
            background-color: #8AC5C5;
            color: black;
            border: none;
            border-radius: 12px;
            cursor: pointer;
        }

        .add-stock button:hover, 
        .back-btn button:hover {
            background-color: #85B9CC;
        }
        
        .edit-btn button {
            background-color: #FFBE0B;
            color: #565264;
            padding: 5px 9px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .edit-btn button:hover {
            background-color: #FDCA30;
        } 

        .delete-item-btn button{
            background-color: #D9594C;
            color: black;
            padding: 5px 9px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .delete-item-btn button:hover {
            background-color: #D76653;
        }
        
        .tick-icon {
        color: green;
        }

        .cross-icon {
        color: red;
         }

        .search-form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
          }
          
        .search-form input[type="text"] {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
          }

        .search-form button[type="submit"] {
            padding: 2px 5px;
            background-color: #8AC5C5;
            color: black;
            border: 1px solid #8AC5C5;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
          }
    </style>

    </body>
</html>