{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <img src="{% static 'images/user (3).png' %}">
            </div>
            <label for="Username">username:</label>
            <input type="text" name="username" required>

            <label for="password">password:</label>
            <input type="password" name="password" required>

            <input type="submit" value="Log In">
        </form>
    </div>
        <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-family: Arial, sans-serif;
            background-color: #BABBF1;
        }

        .login-container {
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 20px;
            background-color: #8AC5C5;
            text-align: center;
            color: #090809;
        }

        .login-container img {
            display: block;
            margin: 0 auto;
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }

        .login-container label {
            display: block;
            margin-bottom: 10px;
            text-align: left;
        }

        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .login-container input[type="submit"] {
            background-color: #62627d;
            color: white;
            padding: 10px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

        .login-container input[type="submit"]:hover {
            background-color: #363543;
        }
    </style>
</body>
</html>
