{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Purchase Details</title>
</head>
<body>
   
  <div class="header">

       <div  class="back-btn">
           <button  onclick="location.href='{% url 'home' %}'">
             <span class="material-symbols-outlined"> home </span>
           </button>
      </div>
      <h1>Purchase Details</h1>
         <div  class="add-purchase-button">
          <button onclick="location.href='{% url 'add_to_cart' %}'"> 
             <span class="material-symbols-outlined"> add_shopping_cart </span> 
          </button>
         </div>  
    </div>

    <form method="get" class="search-form">
     <input type="text" name="search_query" placeholder="search...">
      <button type="submit">
        <span class="material-symbols-outlined"> search </span>
      </button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Purchase ID</th>
                <th>Student Name</th>
                <th>Purchase Date</th>
                <th>Total Price</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.student_name }}</td>
                <td>{{ purchase.purchase_date }}</td>
                <td>{{ purchase.total_price }}</td>
                <td class = "delete-purchase-btn"><a href="{% url 'delete_purchase'  id=purchase.id %}">
                 <button>
                   <span class="material-symbols-outlined"> delete </span>
                </button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div  class="back-btn" >
       <button> <a href="{% url 'download_excel_sheet' %}?month={{ selected_month }}&year={{ selected_year }}" class="btn btn-primary">Download Excel</a> </button>
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
   
   <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #BABBF1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 74vh;
        }
        
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            max-width: 800px;
            margin-bottom: 20px;
        }

        .add-purchase-button button {
            padding: 10px 14px;
            background-color: #8ac5c5;
            color: black;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
        
        .back-btn button {
            padding: 10px 14px;
            background-color: #8AC5C5;
            color: black;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .add-purchase-button button:hover, 
        .back-btn button:hover {
            background-color: #85B9CC;
        }
        
        
        table {
            border-collapse: collapse;
            width: 80%;
            max-width: 800px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-radius: 4px;
        }

        th {
            background-color: #7592DE;
        }

        .search-form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
          }
          .search-form input[type="text"] {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
          }
          
          .search-form button[type="submit"] {
            padding: 2px 5px;
            background-color: #8AC5C5;
            color: black;
            border: 1px solid #8AC5C5;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
          }

          .delete-purchase-btn button{
            background-color: #D9594C;
            color: black;
            padding: 5px 9px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }
        .delete-purchase-btn button:hover {
            background-color: #D76653;
        }

    </style>
</body>
</html>
