<!DOCTYPE html>
<html>
<head>
    <title>Students Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="myChartContainer">
    <h1>Students  Graph</h1>
    </div>
    <form method="get" action="{% url 'student_graph' %}">
        <label for="month">Select Month:</label>
        <select name="month" id="month">
            <option value="1" {% if selected_month == '1' %}selected{% endif %}>January</option>
            <option value="2" {% if selected_month == '2' %}selected{% endif %}>February</option>
            <option value="3" {% if selected_month == '3' %}selected{% endif %}>March</option>
            <option value="4" {% if selected_month == '4' %}selected{% endif %}>April</option>
            <option value="5" {% if selected_month == '5' %}selected{% endif %}>May</option>
            <option value="6" {% if selected_month == '6' %}selected{% endif %}>June</option>
            <option value="7" {% if selected_month == '7' %}selected{% endif %}>July</option>
            <option value="8" {% if selected_month == '8' %}selected{% endif %}>August</option>
            <option value="9" {% if selected_month == '9' %}selected{% endif %}>September</option>
            <option value="10" {% if selected_month == '10' %}selected{% endif %}>October</option>
            <option value="11" {% if selected_month == '11' %}selected{% endif %}>November</option>
            <option value="12" {% if selected_month == '12' %}selected{% endif %}>December</option>
            <!-- Add options for other months -->
        </select>
        <label for="year">Select Year:</label>
        <select name="year" id="year">
            <option value="2023" {% if selected_year == '2023' %}selected{% endif %}>2023</option>
            <option value="2024" {% if selected_year == '2024' %}selected{% endif %}>2024</option>
            <!-- Add options for other years -->
        </select>

        <!-- Drop-down for selecting students -->
      {% comment %} <label for="student">Select Student:</label>
    <select name="student" id="student">
        <option value="">All Students</option>
        {% for student in all_students %}
            <option value="{{ student.id }}" {% if selected_student_id == student.id %}selected{% endif %}>{{ student.name }}</option>
        {% endfor %}
    </select> {% endcomment %}
    <label for="student">Select Student:</label>
<select name="student" id="student">
    {% comment %} <option value="">All Students</option> {% endcomment %}
    {% for student in all_students %}
        <option value="{{ student.id }}" {% if selected_student_id == student.id %}selected{% endif %}>{{ student.name }}</option>
    {% endfor %}

</select>


        <button type="submit">Show Graph</button>
    </form>

    <div style="max-width: 600px; margin: 0 auto;">
        <canvas id="myChart"></canvas>
    </div>
    <div class="back-btn">
        <button  onclick="location.href='{% url 'home' %}'">
          <span class="material-symbols-outlined"> Back </span>
        </button>
      </div>

    <script>
        var studentNames = {{ student_names|safe }};
        var totalQuantities = {{ total_quantities|safe }};

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: studentNames,
                datasets: [{
                    label: 'Total Quantity',
                    data: totalQuantities,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        
    </script>
</body>
</html>
<style>
    #myChartContainer {
        max-width: 600px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
    }
    .back-btn button {
        margin-left: 100px;
        padding: 10px 14px;
        background-color: #8AC5C5;
        color: black;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .add-stock button:hover, 
    .back-btn button:hover {
        background-color: #85B9CC;
    }
    

#myChart {
    margin-top: 17px;
    display: block;
    box-sizing: border-box;
    height: 300px;
    width: 600px;
}
</style>
