{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>

    <div class="header">
         <div  class="back-btn">
           <button  onclick="location.href='{% url 'home' %}'">
             <span class="material-symbols-outlined"> home </span>
           </button>
         </div>

        <h1>Student Details</h1>

        <div class="add-student-button">
         <button onclick="location.href='{% url 'add_student' %}'">
           <span class="material-symbols-outlined"> person_add </span>
         </button>
        </div>

    </div>

        <form method="get" class="search-form">
         <input type="text" name="search_query" placeholder="search...">
          <button type="submit">  <span class="material-symbols-outlined"> search </span>
          </button>
        </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Mail</th>
                <th>Limit</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.mail }}</td>
                <td>{{ student.limit }}</td>

                <td class="edit-btn"> <a href="{% url 'update_student' id=student.id %}">
                  <button>
                 <span class="material-symbols-outlined"> edit </span>
                </button>
                </a></td>

                <td class = "delete-student-btn"><a href="{% url 'delete_student'  id=student.id %}">
                 <button>
                  <span class="material-symbols-outlined"> delete 
                  </span>
                 </button>
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

     <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #BABBF1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 74vh;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            max-width: 800px;
            margin-bottom: 20px;
        }

        h1 {
            margin: 0;
        }

        .add-student-button button {
            padding: 10px 16px;
            background-color: #8ac5c5;
            color: black;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .back-btn button {
            padding: 10px 14px;
            background-color: #8ac5c5;
            color: black;
            border: none;
            border-radius: 12px;
            cursor: pointer;
        }

        .add-student-button button:hover, 
        .back-btn button:hover {
            background-color: #85B9CC;
        }
        
        .edit-btn button {
            background-color: #FFBE0B;
            color: #565264;
            padding: 5px 9px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .edit-btn button:hover {
            background-color: #FDCA30;
        } 

        .delete-student-btn button{
            background-color: #D9594C;
            color: black;
            padding: 5px 9px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .delete-student-btn button:hover {
            background-color: #D76653;
        }

        table {
            width: 80%;
            max-width: 800px;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            border-radius: 4px;
        }

        th {
            background-color: #7592DE;
        }

        .search-form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
          }
          
        
        .search-form input[type="text"] {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
          }

        .search-form button[type="submit"] {
            padding: 2px 5px;
            font-size: 14px;
            background-color: #8AC5C5;
            color: black;
            border: 1px solid #8AC5C5;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

    </style>
</body>
</html>
