{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Update Inventory</title>
    
</head>
<body>
    
    <form method="post" action="{% url 'update_inventory' id %}">
        {% csrf_token %}
        <h1>Update Item Details</h1>
        {{ form.as_p }}

        <div  class="back-btn">
            <button onclick="location.href='{% url 'inventory' %}'">Back</button>
            <input type="submit" value="Update ">
        </div>
        
    </form>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #E87461;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #FE910A;
        }

        form {
            width: 350px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #E0C879;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 12px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .back-btn {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .back-btn button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 80px;
        }

        .back-btn button:hover {
            background-color: #45a049;
        }

    </style>
   
</body>
</html>
