<!DOCTYPE html>
<html>
<head>
    <title>View Cart</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f1f1f1;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #FE910A;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        p {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            max-width: 250px;
            margin-top: 20px;
        }

        .btn-container button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            padding: 10px 16px;
            width: 120px;
        }

        .btn-container button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>Cart Items</h1>
    <table>
        <tr>
            <th>Student Name</th>
            <th>Item</th>
            <th>Purchased Quantity</th>
            <th>Total Price</th>
            <!-- Add more columns if needed -->
        </tr>
        {% for item in cart_items %}
        <tr> 
            <td>{{ item.student_name }}</td>
            <td>{{ item.item }}</td>
            <td>{{ item.purchased_quantity }}</td>
            <td>{{ item.total_price }}</td>
            <!-- Add more columns if needed -->
        </tr>
        {% endfor %}
    </table>
    <p>Total Cart Price: {{ total_cart_price }}</p>
    <div class="btn-container">
        <button onclick="location.href='{% url 'buy_item' %}'">Buy Items</button>
        <button onclick="location.href='{% url 'purchase' %}'">Back</button>
    </div>
</body>
</html>
